/*
    Main Style
*/
$mainColor: #007bff;
$textColor: #999;
$textFont : 1.5rem;
$textWeight: 500;
$btnColor: #007bff;
$btnBorder: #007bff;
/* Start Navbar */



/* End Navbar */

/* Start Content of Lessons */

.lessons {
    .card {
        // display: none;
        background-color:#fefefe;
        margin:15px 0;
        .card-header {
            padding:10px;
            .card-title {
                margin: 0;
                font-size: #f99;
                .title {
                    color:$mainColor;
                    text-transform: capitalize;
                }
            }
        }
        .card-body {
            overflow: hidden;
            width: 100%;
            .enSens {
                float: left;
                width: calc(100% / 2 - 10px);
                font-size: $textFont;
                .enSen {
                    margin-bottom: 10px;
                    color:$mainColor;
                }
            }
            .arSens {
                float: left;
                width: calc(100% / 2);
                margin-left: 10px;
                font-size: $textFont;
                direction: rtl;
                text-align: right;
                .arSen {
                    margin-bottom: 10px;
                }
            }
        }
        .num {
            display: block;
            padding: 5px 10px;
            background-color: $mainColor;
            color: #fff;
            width: fit-content;
        }
        &:not(:nth-child(1)) {
            display: none;
        }
    }
}

/* End Content of Lessons */

/* Words Content */

.show-words {
    background: $mainColor;
    color: #fff;
    border: 1px solid $mainColor;
    text-align: center;
    display: block;
    margin: 10px 0;
    margin: 10px auto;
    padding: 3px 10px;
    cursor: pointer;
}
.words {
    .card {
        margin:15px 0;
        .card-header {
            padding:10px;
            .card-title {
                margin: 0;
                font-size: $textFont;
                .title {
                    color:$mainColor;
                    text-transform: capitalize;
                }
            }
        }
        .card-body {
            .desc {
                padding: 10px 0;
                margin-bottom: 20px;
                .eng-sen {
                    text-align: left;
                    font-size: $textFont;
                    color:$mainColor;
                }
                .ar-sen {
                    direction: rtl;
                    text-align: right;
                    font-size: $textFont;
                    font-weight: $textWeight;
                }
            }
            .ex {
                color:$mainColor;
                margin-bottom: 10px;
                text-align: center;
                font-size: $textFont;
            }
        }
        .num {
            display: block;
            padding: 5px 10px;
            background-color: $mainColor;
            color: #fff;
            width: fit-content;
        }
    }
}

/* Start Quize ReWrite */

.quizes {
    .quizes-cont {
        .card {
            margin:20px 0;
            .card-header {
                background-color:$btnColor;
                color:#fff;
                font-size: $textFont;
            }
            .quiz-question {
                direction: rtl;
                text-align: right;
                margin-bottom:20px;
            }
            .quiz-ans {
                margin-bottom: 20px;
                
            }
        }
        a {
            display: inline-block;
        }
        .quiz {
            display: none;
        }
        #quiz1 {
            display: block;
        }
    }
}

/* End Quize ReWrite */

/* Start Complete Quiz */

.complete {
    .comp-question {
        text-align: center;
        font-size: $textFont;
    }
    .comp-ans {
        margin-bottom: 20px;
    }
}

/* End Complete Quiz */